<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <h1><%= title %></h1>
      </header>

      <main class="main">
        <form action="/new" method="post" class="form-container">
          <div class="form-field">
            <label for="messageUser">Name:</label>
            <input type="text" id="messageUser" name="messageUser" placeholder="Enter name here..." />
          </div>

          <div class="form-field">
            <label for="messageText">Message:</label>
            <textarea
              id="messageText"
              name="messageText"
              rows="5"
              cols="30"
              placeholder="Enter message here..."
            ></textarea>
          </div>

          <div class="form-controls">
            <a href="/" class="btn-home">Back to Messages</a>
            <button type="submit" class="btn-submit">Submit</button>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
