@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #17a9fd;
  --secondary-color: #0165e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

body {
  padding: 20px;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: inherit;
}
